*.json
Backend/LambdaArbeitsagenturCalls/raw/*.txt
Backend/LambdaArbeitsagenturCalls/unlabeled/*.txt
*.pyc

.ipynb_checkpoints

Backend/LambdaArbeitsagenturCalls/test_venv/*
Backend/LambdaArbeitsagenturCalls/python/*
Backend/SkillExtractor/lambda_layer/python/*
